@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgba(139, 214, 170, 0.884);
  --secondary-color: rgba(180, 255, 173, 0.671);
  --main-bg-color: rgb(255, 255, 255);
  --secondary-bg-color: rgb(255, 255, 255);
  --main-text: rgb(0, 0, 0);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: var(--main-color);
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: var(--main-color);
  }
}

h1, h2, h3 {
  line-height: 1.2;
}

.background {
  background-color: var(--main-bg-color);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%; 

}

.background-image {
  background: url(./assets/background.jpg);
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%; 
}

.background-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 244, 251, 0) 30%, var(--main-bg-color), 50%, var(--secondary-bg-color));
}

nav {
  position: sticky;
  top: 0;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow-x: hidden;
  color: var(--main-text)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;            
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  outline: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

.column-container {
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
  box-sizing: border-box;
}

.columns {
  display: flex;
}

.navbutton {
  cursor: pointer;
  border: none;
  color: var(--main-text);
  width: 100%;
  padding: 8px 8px 8px 32px;
  background: var(--main-color);
}

.navbutton:hover {
  background: var(--secondary-color);
}


.navimage {
  background: url(./assets/heart.png);
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  padding: 35px;
  overflow:visible;
  margin-left: -33px;
  margin-top: -14px
}

.credits {
  border: none;
  width: 100%;
  padding: 8px 32px;
  background: transparent;
  user-select: none;
  text-align: center;
}

.stickem {
  position: sticky;
}

a {
  text-decoration: none;
}

.skills-title-container {
  user-select: none;
  padding: 0.75rem;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  user-select: none;
}

.skills-container {
}

.widget {
  background-color: var(--secondary-color);
}